Body{
     background-image: url('photo_2026-07-29_00-29-45.jpg');
     background-repeat: no-repeat ;
     background-position: center;
     background-attachment: fixed;
     background-size: Cover;
}